# General
.DS_Store
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock

# Environment Variables
.env
.env.*
!/.env.example

# Backend (Rust)
/backend/target/
/target/

# Frontend (SvelteKit)
/frontend/node_modules/
/frontend/build/
/frontend/.svelte-kit/

# Editor directories and files
.idea/
.vscode/
*.swp
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project

# Miscellaneous
Thumbs.db
ehthumbs.db
Desktop.ini
*.bak
*.tmp
